path,value
"design/package/name", "wsu_base"
"design/theme/template", "default"
"design/theme/skin","default"
"design/theme/layout","default"
"design/theme/default","default"
"design/theme/locale",NULL
"design/package/ua_regexp","a:1:{s:18:\"_1368718560896_896\";a:2:{s:6:\"regexp\";s:7:\"WSU_DEV\";s:5:\"value\";s:10:\"enterprise\";}}"
"design/theme/template_ua_regexp","a:1:{s:18:\"_1368719451167_167\";a:2:{s:6:\"regexp\";s:7:\"WSU_DEV\";s:5:\"value\";s:6:\"mobile\";}}"
"design/theme/skin_ua_regexp","a:1:{s:18:\"_1368719467475_475\";a:2:{s:6:\"regexp\";s:7:\"WSU_DEV\";s:5:\"value\";s:6:\"mobile\";}}"
"design/theme/layout_ua_regexp","a:1:{s:17:\"_1368719469024_24\";a:2:{s:6:\"regexp\";s:7:\"WSU_DEV\";s:5:\"value\";s:6:\"mobile\";}}"
"design/theme/default_ua_regexp","a:1:{s:18:\"_1368719470362_362\";a:2:{s:6:\"regexp\";s:7:\"WSU_DEV\";s:5:\"value\";s:7:\"mobilev\";}}"
"design/head/default_title","WSU central shopping center"
"design/head/title_prefix",NULL
"design/head/title_suffix",NULL
"design/head/default_description","the Washington State University Central Store"
"design/head/default_keywords","Washington State University"
"design/head/default_robots","INDEX,FOLLOW"
"design/head/includes",NULL
"design/head/demonotice","0"
"design/header/logo_src","images/logo.gif"
"design/header/logo_alt","WSU central shopping center"
"design/header/welcome","Get more from your university.  Shop the Coug way."
"design/footer/copyright","&copy; 2012 University Web Communications - Jeremy Bass. All Rights Reserved."
"design/footer/absolute_footer",NULL
"design/watermark/image_size",NULL
"design/watermark/image_imageOpacity",NULL
"design/watermark/image_position","stretch"
"design/watermark/small_image_size",NULL
"design/watermark/small_image_imageOpacity",NULL
"design/watermark/small_image_position","stretch"
"design/watermark/thumbnail_size",NULL
"design/watermark/thumbnail_imageOpacity",NULL
"design/watermark/thumbnail_position","stretch"
"design/pagination/pagination_frame","5"
"design/pagination/pagination_frame_skip",NULL
"design/pagination/anchor_text_for_previous",NULL
"design/pagination/anchor_text_for_next",NULL
"design/email/logo_alt",NULL
"web/url/use_store","0"
"web/url/redirect_to_base","1"
"web/seo/use_rewrites","1"
"web/unsecure/base_url","http://store.mage.dev/"
"web/secure/base_url","http://store.mage.dev/"
"web/secure/use_in_frontend","0"
"web/secure/use_in_adminhtml","0"
"web/secure/offloader_header","SSL_OFFLOADED"
"web/default/front","cms"
"web/default/cms_home_page","home"
"web/default/no_route","cms/index/noRoute"
"web/default/cms_no_route","no-route"
"web/default/cms_no_cookies","enable-cookies"
"web/default/show_cms_breadcrumbs","1"
"web/polls/poll_check_by_ip","0"
"web/cookie/cookie_lifetime","3600"
"web/cookie/cookie_path",NULL
"web/cookie/cookie_domain",NULL
"web/cookie/cookie_httponly","1"
"web/cookie/cookie_restriction","0"
"web/session/use_remote_addr","0"
"web/session/use_http_via","0"
"web/session/use_http_x_forwarded_for","0"
"web/session/use_http_user_agent","0"
"web/session/use_frontend_sid","1"
"web/browser_capabilities/cookies","1"
"web/browser_capabilities/javascript","1"
"general/locale/code","en_US"
"general/locale/timezone","America/Los_Angeles"
"general/locale/firstday","0"
"general/locale/weekend","0,6"
"general/country/default","US"
"general/country/allow","US"
"general/country/optional_zip_countries","US"
"general/region/display_all","1"
"general/region/state_required","US"
"general/store_information/name","WSU eCommerce Center"
"general/store_information/phone","NULL"
"general/store_information/merchant_country","US"
"general/store_information/merchant_vat_number","NULL"
"general/store_information/address","NULL"
"currency/options/base","USD"
"currency/options/default","USD"
"currency/options/allow","USD"
"admin/dashboard/enable_charts","0"
"admin/emails/forgot_email_template","admin_emails_forgot_email_template"
"admin/emails/forgot_email_identity","general"
"admin/emails/password_reset_link_expiration_period","1"
"admin/startup/page","dashboard"
"admin/url/use_custom","0"
"admin/url/use_custom_path","0"
"admin/security/use_form_key","1"
"admin/security/use_case_sensitive_login","0"
"admin/security/session_cookie_lifetime","NULL"
"admin/captcha/enable","0"
"storepartitions/basicsettings/active","1"
"storepartitions/general/showallproducts","0"
"storepartitions/general/showallcustomers","1"
"storepartitions/general/allowdelete","0"
"storepartitions/general/allowdelete_perwebsite","0"
"storepartitions/su/enable","0"
"storepartitions/su/email",NULL
"dev/restrict/allow_ips",NULL
"dev/debug/profiler","1"
"dev/template/allow_symlink","0"
"dev/translate_inline/active","0"
"dev/translate_inline/active_admin","0"
"dev/log/active","1"
"dev/log/file","system.log"
"dev/log/exception_file","exception.log"
"dev/js/merge_files","1"
"dev/css/merge_css_files","1"
"crontab/jobs/log_clean/schedule/cron_expr",NULL
"crontab/jobs/log_clean/run/model","log/cron::logClean"
"system/cron/schedule_generate_every","15"
"system/cron/schedule_ahead_for","20"
"system/cron/schedule_lifetime","15"
"system/cron/history_cleanup_every","10"
"system/cron/history_success_lifetime","60"
"system/cron/history_failure_lifetime","600"
"system/currency/installed","USD"
"system/log/clean_after_day","180"
"system/log/enabled","0"
"system/log/time","00,00,00"
"system/log/frequency","D"
"system/log/error_email",NULL
"system/log/error_email_identity","general"
"system/log/error_email_template","system_log_error_email_template"
"system/adminnotification/use_https","0"
"system/adminnotification/frequency","1"
"system/external_page_cache/enabled","1"
"system/external_page_cache/cookie_lifetime","3600"
"system/external_page_cache/control","zend_page_cache"
"system/backup/enabled","0"
"system/media_storage_configuration/media_storage","0"
"system/media_storage_configuration/media_database","default_setup"
"system/media_storage_configuration/configuration_update_time","3600"
"system/aoeasynccache/select_limit","0"
"system/aoeasynccache/scheduler_cron_expr","*/15 * * * *"
"system/smtp/disable","0"
"system/smtp/host","localhost"
"system/smtp/port","25"
"system/smtp/set_return_path","0"
"system/googlesettings/email",null
"system/googlesettings/gpassword",null
"system/smtpsettings/smtpsettings","none"
"system/smtpsettings/username",null
"system/smtpsettings/password",null
"system/smtpsettings/host","mail.wsu.edu"
"system/smtpsettings/port","25"
"system/smtpsettings/ssl","none"
"system/mailingservices/option","smtp"
"system/mailingservices/store_addresses","0"
"system/mailingservices/development","disabled"
"system/mailingservices/logenabled","1"
"system/contacts/enabled","1"
"system/contacts/recipient_email","jeremy.bass@wsu.edu"
"system/contacts/sender_email_identity","custom2"
"system/contacts/email_template","contacts_email_email_template"
"admin/aoe_filepicker/apikey","Ang5LopT2QEK4xtU91zxnz"
"admin/aoe_filepicker/services","filepicker.SERVICES.BOX,filepicker.SERVICES.COMPUTER,filepicker.SERVICES.DROPBOX,filepicker.SERVICES.FACEBOOK,filepicker.SERVICES.GITHUB,filepicker.SERVICES.GMAIL,filepicker.SERVICES.GOOGLE_DRIVE,filepicker.SERVICES.IMAGE_SEARCH,filepicker.SERVICES.URL,filepicker.SERVICES.WEBCAM"
"payment/paypal_express/active","0"
"payment/express/checkout/frontend/logo",""
"payment/ccsave/active","0"
"payment/ccsave/title","Credit Card (saved)"
"payment/ccsave/order_status","pending"
"payment/ccsave/cctypes","AE,VI,MC,DI"
"payment/ccsave/useccv","0"
"payment/ccsave/centinel","0"
"payment/ccsave/allowspecific","0"
"payment/ccsave/min_order_total",NULL
"payment/ccsave/max_order_total",NULL
"payment/ccsave/sort_order",NULL
"payment/banktransfer/active","0"
"payment/banktransfer/title","Bank Transfer Payment"
"payment/banktransfer/order_status","pending"
"payment/banktransfer/allowspecific","0"
"payment/banktransfer/instructions",NULL
"payment/banktransfer/min_order_total",NULL
"payment/banktransfer/max_order_total",NULL
"payment/banktransfer/sort_order",NULL
"payment/checkmo/active","1"
"payment/checkmo/title","Check / Money order"
"payment/checkmo/order_status","pending"
"payment/checkmo/allowspecific","0"
"payment/checkmo/payable_to",NULL
"payment/checkmo/mailing_address",NULL
"payment/checkmo/min_order_total",NULL
"payment/checkmo/max_order_total",NULL
"payment/checkmo/sort_order",NULL
"payment/cashondelivery/active","0"
"payment/cashondelivery/title","Cash On Delivery"
"payment/cashondelivery/order_status","pending"
"payment/cashondelivery/allowspecific","0"
"payment/cashondelivery/instructions",NULL
"payment/cashondelivery/min_order_total",NULL
"payment/cashondelivery/max_order_total",NULL
"payment/cashondelivery/sort_order",NULL
"payment/free/title","No Payment Information Required"
"payment/free/active","1"
"payment/free/order_status","pending"
"payment/free/allowspecific","0"
"payment/free/sort_order","1"
"payment/purchaseorder/active","0"
"payment/purchaseorder/title","Purchase Order"
"payment/purchaseorder/order_status","pending"
"payment/purchaseorder/allowspecific","0"
"payment/purchaseorder/min_order_total",NULL
"payment/purchaseorder/max_order_total",NULL
"payment/purchaseorder/sort_order",NULL
"payment/central_processing/active","1"
"payment/central_processing/title","Checking out with WSU\'s central payment system"
"payment/central_processing/merchant_id","7aReBr9K1O5VguV2Rm5Ilw=="
"payment/central_processing/security_key","7aReBr9K1O7tpF4Gv0rU7g=="
"payment/central_processing/payment_action","authorize_capture"
"payment/central_processing/order_status","processing"
"payment/central_processing/useccv","0"
"payment/central_processing/allowspecific","0"
"payment/central_processing/test","1"
"payment/central_processing/debug","1"
"payment/central_processing/sort_order",NULL
"payment/central_processing/cctypes","AE,VI,MC,DI"
"payment/central_processing/submit_url",NULL
"payment/centralprocessing/active","1"
"payment/centralprocessing/title","the payment everyone wants to pay"
"payment/centralprocessing/merchant_id","X6I+UcL6Lk4="
"payment/centralprocessing/security_key",NULL
"payment/centralprocessing/payment_action","authorize"
"payment/centralprocessing/order_status",NULL
"payment/centralprocessing/useccv","0"
"payment/centralprocessing/allowspecific","0"
"payment/centralprocessing/test","0"
"payment/centralprocessing/debug","0"
"payment/centralprocessing/submit_url",NULL
"payment/centralprocessing/sort_order",NULL
"payment/centralprocessing_express/active","1"
"payment/centralprocessing_express/title","Central processing Checkout"
"payment/centralprocessing_express/merchant_id","WSUPUBSMISC"
"payment/centralprocessing_express/security_key","K/wA4xvqJEYlnkDQzZNFlA=="
"payment/centralprocessing_express/payment_action","authorize"
"payment/centralprocessing_express/order_status","processing"
"payment/centralprocessing_express/useccv","0"
"payment/centralprocessing_express/allowspecific","0"
"payment/centralprocessing_express/test","1"
"payment/centralprocessing_express/debug","1"
"payment/centralprocessing_express/submit_url",NULL
"payment/centralprocessing_express/sort_order",NULL
"payment/centralprocessing_express/cctypes","AE,VI,MC,DI"
"payment/centralprocessing_express/sandbox_flag","1"
"sharing_tool/general/enabled","1"
"sharing_tool/general/pubid","mcwsu"
"sharing_tool/button_style/button_set","style_1"
"sharing_tool/button_style/custom_button_url",NULL
"sharing_tool/api/services_exclude",NULL
"sharing_tool/api/services_compact",NULL
"sharing_tool/api/services_expanded",NULL
"sharing_tool/api/services_custom_name",NULL
"sharing_tool/api/services_custom_url",NULL
"sharing_tool/api/services_custom_icon",NULL
"sharing_tool/api/ui_click","1"
"sharing_tool/api/ui_delay",NULL
"sharing_tool/api/ui_hover_direction","0"
"sharing_tool/api/ui_open_windows","1"
"sharing_tool/api/ui_language","auto"
"sharing_tool/api/ui_offset_top",NULL
"sharing_tool/api/ui_offset_left",NULL
"sharing_tool/api/ui_header_color",NULL
"sharing_tool/api/ui_header_background",NULL
"sharing_tool/api/ui_cobrand","Wsu"
"sharing_tool/api/ui_use_css","1"
"sharing_tool/api/ui_use_addressbook","0"
"sharing_tool/api/ui_508_compliant","0"
"sharing_tool/api/data_track_clickback","1"
"sharing_tool/api/data_ga_tracker","UA-17815664-1"
"sharing_tool/custom_share/custom_url",NULL
"sharing_tool/custom_share/custom_title",NULL
"sharing_tool/custom_share/custom_description",NULL
"advanced/modules_disable_output/AddThis_SharingTool","0"
"advanced/modules_disable_output/Mage_Admin","0"
"advanced/modules_disable_output/Mage_AdminNotification","0"
"advanced/modules_disable_output/Mage_Api","0"
"advanced/modules_disable_output/Mage_Api2","0"
"advanced/modules_disable_output/Mage_Authorizenet","1"
"advanced/modules_disable_output/Mage_Backup","0"
"advanced/modules_disable_output/Mage_Bundle","0"
"advanced/modules_disable_output/Mage_Captcha","0"
"advanced/modules_disable_output/Mage_Catalog","0"
"advanced/modules_disable_output/Mage_CatalogIndex","0"
"advanced/modules_disable_output/Mage_CatalogInventory","0"
"advanced/modules_disable_output/Mage_CatalogRule","0"
"advanced/modules_disable_output/Mage_CatalogSearch","0"
"advanced/modules_disable_output/Mage_Centinel","0"
"advanced/modules_disable_output/Mage_Checkout","0"
"advanced/modules_disable_output/Mage_Cms","0"
"advanced/modules_disable_output/Mage_Compiler","0"
"advanced/modules_disable_output/Mage_Connect","0"
"advanced/modules_disable_output/Mage_Contacts","0"
"advanced/modules_disable_output/Mage_Core","0"
"advanced/modules_disable_output/Mage_Cron","0"
"advanced/modules_disable_output/Mage_CurrencySymbol","0"
"advanced/modules_disable_output/Mage_Customer","0"
"advanced/modules_disable_output/Mage_Cybersource","0"
"advanced/modules_disable_output/Mage_Dataflow","0"
"advanced/modules_disable_output/Mage_Directory","0"
"advanced/modules_disable_output/Mage_Downloadable","0"
"advanced/modules_disable_output/Mage_Eav","0"
"advanced/modules_disable_output/Mage_GiftMessage","0"
"advanced/modules_disable_output/Mage_GoogleAnalytics","0"
"advanced/modules_disable_output/Mage_GoogleCheckout","0"
"advanced/modules_disable_output/Mage_ImportExport","0"
"advanced/modules_disable_output/Mage_Index","0"
"advanced/modules_disable_output/Mage_Install","0"
"advanced/modules_disable_output/Mage_Log","0"
"advanced/modules_disable_output/Mage_Media","0"
"advanced/modules_disable_output/Mage_Newsletter","1"
"advanced/modules_disable_output/Mage_Oauth","0"
"advanced/modules_disable_output/Mage_Page","0"
"advanced/modules_disable_output/Mage_PageCache","0"
"advanced/modules_disable_output/Mage_Paygate","0"
"advanced/modules_disable_output/Mage_Payment","0"
"advanced/modules_disable_output/Mage_Paypal","1"
"advanced/modules_disable_output/Mage_PaypalUk","1"
"advanced/modules_disable_output/Mage_Persistent","0"
"advanced/modules_disable_output/Mage_Poll","1"
"advanced/modules_disable_output/Mage_ProductAlert","0"
"advanced/modules_disable_output/Mage_Rating","0"
"advanced/modules_disable_output/Mage_Reports","0"
"advanced/modules_disable_output/Mage_Review","0"
"advanced/modules_disable_output/Mage_Rss","0"
"advanced/modules_disable_output/Mage_Rule","0"
"advanced/modules_disable_output/Mage_Sales","0"
"advanced/modules_disable_output/Mage_SalesRule","0"
"advanced/modules_disable_output/Mage_Sendfriend","0"
"advanced/modules_disable_output/Mage_Shipping","0"
"advanced/modules_disable_output/Mage_Sitemap","0"
"advanced/modules_disable_output/Mage_Tag","0"
"advanced/modules_disable_output/Mage_Tax","0"
"advanced/modules_disable_output/Mage_Usa","0"
"advanced/modules_disable_output/Mage_Weee","0"
"advanced/modules_disable_output/Mage_Widget","0"
"advanced/modules_disable_output/Mage_Wishlist","0"
"advanced/modules_disable_output/Mage_XmlConnect","1"
"advanced/modules_disable_output/Phoenix_Moneybookers","1"
"payment/centralprocessing_express/trantype","WEBOBC"
"customer/account_share/scope","0"
"customer/online_customers/online_minutes_interval",NULL
"customer/create_account/auto_group_assign","0"
"customer/create_account/default_group","1"
"customer/create_account/viv_disable_auto_group_assign_default","0"
"customer/create_account/vat_frontend_visibility","0"
"customer/create_account/email_domain","example.com"
"customer/create_account/email_template","customer_create_account_email_template"
"customer/create_account/email_identity","general"
"customer/create_account/confirm","0"
"customer/create_account/email_confirmation_template","customer_create_account_email_confirmation_template"
"customer/create_account/email_confirmed_template","customer_create_account_email_confirmed_template"
"customer/create_account/generate_human_friendly_id","0"
"customer/password/forgot_email_template","customer_password_forgot_email_template"
"customer/password/remind_email_template","customer_password_remind_email_template"
"customer/password/forgot_email_identity","support"
"customer/password/reset_link_expiration_period","1"
"customer/address/street_lines","2"
"customer/address/prefix_show",NULL
"customer/address/prefix_options",NULL
"customer/address/middlename_show","0"
"customer/address/suffix_show",NULL
"customer/address/suffix_options",NULL
"customer/address/dob_show",NULL
"customer/address/taxvat_show",NULL
"customer/address/gender_show",NULL
"customer/startup/redirect_dashboard","1"
"customer/address_templates/text","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}
{{var country}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}"
"customer/address_templates/oneline","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}"
"customer/address_templates/html","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}"
"customer/address_templates/pdf","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if city}}{{var city}},|{{/if}}
{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}|"
"customer/address_templates/js_template","#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}<br/>VAT: #{vat_id}"
"customer/captcha/enable","0"
"wsustructureddata/basicsettings/active","1"
"wsustructureddata/businessinformation/legalname","WSU"
"wsustructureddata/address/streetaddress",NULL
"wsustructureddata/address/postalcode",NULL
"wsustructureddata/address/locality",NULL
"wsustructureddata/address/countryname","US"
"wsustructureddata/address/tel",NULL
"wsustructureddata/address/email",NULL
"wsustructureddata/pos_address/haspos","0"
"wsustructureddata/pos_address/usefromcompany","1"
"wsustructureddata/pos_address/streetaddress",NULL
"wsustructureddata/pos_address/postalcode",NULL
"wsustructureddata/pos_address/locality",NULL
"wsustructureddata/pos_address/countryname","US"
"wsustructureddata/pos_address/tel",NULL
"wsustructureddata/pos_address/email",NULL
"wsustructureddata/offering/description",NULL
"wsustructureddata/customer_types/enduser","1"
"wsustructureddata/customer_types/business","1"
"wsustructureddata/customer_types/reseller","1"
"wsustructureddata/customer_types/publicinstitution","1"
"wsustructureddata/payment_options/byBankTransferInAdvance","0"
"wsustructureddata/payment_options/byInvoice","0"
"wsustructureddata/payment_options/cash","0"
"wsustructureddata/payment_options/checkinadvance","0"
"wsustructureddata/payment_options/cod","0"
"wsustructureddata/payment_options/directdebit","1"
"wsustructureddata/payment_options/googleCheckout","0"
"wsustructureddata/payment_options/paypal","0"
"wsustructureddata/payment_options/americanexpress","1"
"wsustructureddata/payment_options/dinersclub","0"
"wsustructureddata/payment_options/discover","1"
"wsustructureddata/payment_options/jcb","0"
"wsustructureddata/payment_options/mastercard","1"
"wsustructureddata/payment_options/visa","1"
"wsustructureddata/delivery_methods/dhl","0"
"wsustructureddata/delivery_methods/ups","0"
"wsustructureddata/delivery_methods/mail","0"
"wsustructureddata/delivery_methods/fedex","0"
"wsustructureddata/delivery_methods/directdownload","1"
"wsustructureddata/delivery_methods/pickup","0"
"wsustructureddata/delivery_methods/vendorfleet","0"
"wsustructureddata/delivery_methods/freight","1"
"wsustructureddata/strongid/strongid_type","ean13"
"wsustructureddata/strongid/strongid_db","1"
"wsustructureddata/strongid/strongid_dba","sku"
"wsustructureddata/validity/valid_period","3"
"wsustructureddata/validity/valid_through","tomorrow"
"webmastertools/analytics/active","1"
"webmastertools/analytics/account","UA-41835019-1"
"webmastertools/analytics/ga_verifi","J5p8Yx8Li1yaN41fhtvl1zzJVoApq1t67l1WdFNff4c"
"webmastertools/analytics/msvalidate","25281AAA75FA29A69B3D49C6FFB3B204"
"webmastertools/analytics/ms_apikey","e2bea98618ce4f8a97d0c87062d6fc9a"
"webmastertools/analytics/fb_admin","494506507310454"
"webmastertools/analytics/fb_og_iamge",NULL
"webmastertools/analytics/fb_og_sitename",NULL
"webmastertools/analytics/fb_og_title",NULL
"webmastertools/analytics/fb_og_type",NULL
"wsu_networksecurities/general/suspensionlength","1"
"wsu_networksecurities/general/attemptslimit","1"
"wsu_networksecurities/startup/require_login","0"
"wsu_networksecurities/honeypot/usehoneypots","0"
"wsu_networksecurities/honeypot/reporthoneypots","0"
"wsu_networksecurities/honeypot/checkhoneypots","0"
"wsu_networksecurities/honeypot/createhoneypot","0"
"wsu_networksecurities/errorpages/activeerror","0"
"wsu_networksecurities/honeypage/honeypage_error",NULL
"wsu_networksecurities/honeypage/honeypage_pot",NULL
"wsu_networksecurities/err500/active_err500","0"
"wsu_networksecurities/err404/active_err404","0"
"wsu_networksecurities/adminlogin/activeldap","0"
"wsu_networksecurities/adminlogin/allow_bypass","1"
"wsu_networksecurities/adminlogin/host","directory.ad.wsu.edu"
"wsu_networksecurities/adminlogin/version","3"
"wsu_networksecurities/adminlogin/port","389"
"wsu_networksecurities/adminlogin/tls","0"
"wsu_networksecurities/adminlogin/rootdn",NULL
"wsu_networksecurities/adminlogin/rootpassword",NULL
"wsu_networksecurities/adminlogin/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/adminlogin/filter",NULL
"wsu_networksecurities/adminlogin/cmpattr","cn"
"wsu_networksecurities/adminlogin/passattr","password"
"wsu_networksecurities/adminlogin/attr","{\"login\":\"cn\",\"firstname\":\"givenname\",\"mail\":\"mail\",\"lastname\":\"sn\"}"
"wsu_networksecurities/adminlogin/defaultroleid","20"
"wsu_networksecurities/adminlogin/autocreate","0"
"wsu_networksecurities/adminlogin/testusername","test.user"
"wsu_networksecurities/adminlogin/testuserpass","G123raffe()"
"wsu_networksecurities/customerlogin/activeldap","1"
"wsu_networksecurities/customerlogin/restricttoldap","0"
"wsu_networksecurities/customerlogin/host","directory.ad.wsu.edu"
"wsu_networksecurities/customerlogin/version","3"
"wsu_networksecurities/customerlogin/port","389"
"wsu_networksecurities/customerlogin/tls","0"
"wsu_networksecurities/customerlogin/rootdn",NULL
"wsu_networksecurities/customerlogin/rootpassword",NULL
"wsu_networksecurities/customerlogin/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/customerlogin/filter",NULL
"wsu_networksecurities/customerlogin/cmpattr","cn"
"wsu_networksecurities/customerlogin/passattr","password"
"wsu_networksecurities/customerlogin/attr",NULL
"wsu_networksecurities/customerlogin/defaultroleid",NULL
"wsu_networksecurities/customerlogin/autocreate","0"
"wsu_networksecurities/customerlogin/testusername",NULL
"wsu_networksecurities/customerlogin/testuserpass",NULL
"wsu_networksecurities/searcher/activeldap","0"
"wsu_networksecurities/searcher/host","directory.ad.wsu.edu"
"wsu_networksecurities/searcher/version","3"
"wsu_networksecurities/searcher/port","389"
"wsu_networksecurities/searcher/tls","0"
"wsu_networksecurities/searcher/rootdn",NULL
"wsu_networksecurities/searcher/rootpassword",NULL
"wsu_networksecurities/searcher/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/searcher/filter",NULL
"wsu_networksecurities/searcher/cmpattr","cn"
"wsu_networksecurities/searcher/passattr","password"
"wsu_networksecurities/searcher/attr","{\"login\":\"cn\",\"firstname\":\"givenname\",\"mail\":\"mail\",\"lastname\":\"sn\"}"
"wsu_networksecurities/searcher/defaultroleid",NULL
"wsu_networksecurities/searcher/searcherusername","AD\up_search"
"wsu_networksecurities/searcher/searcheruserpass","CougsrGreat!1"